@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&family=Flamenco:wght@300;400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", serif;

}

section{
    margin-bottom: 40px;
}
/* common Style */
.btn-primary{
    width: 160px;
    color: white;
    font-size: 20px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background: rgb(241, 91, 34);
    }
.btn-secondary{
        width: 160px;
        color: rgb(241, 91, 34);
        font-size: 20px;
        height: 64px;
        border: none;
        border-radius: 5px;
       background: F2E7E4;
}

    /* Hero Section Style */
 header{
    display: flex;
    
    align-items: center;

 }
 header>div{
    width: 50%;
 }
.hero-bg{
    width: 1255px;
    border-radius: 10px;
    
    

}
.hero{
    text-align: right;
    padding-right: 130px;
    
}
 

.hero-title{
    color: rgb(21, 20, 20);
    font-size: 65px;
}
.hero-description{
    color: rgb(68, 67, 67);

font-size: 16px;

}

/* Main section Style */
main section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.main-sec-left{
    width: 50%;
   
}
.main-sec-right{
   
    width: 50%;
   
    display: grid;
   
}

.main-sec-title{
    color: rgb(21, 20, 20);
    font-size: 40px;

}
.main-sec-description{
    color: rgb(68, 67, 67);

font-size: 16px;
font-weight: 400;

}

/* My Plans  section Style */
.plans{
    
    width: 1255px;
    height: 299.96px;
    display: block;
    text-align: center;
}
.plans-title{
    margin-left: 100px;
    font-size: 40px;
}
.plans-up{
    display: flex;
    justify-content: center;
}
.plans-down{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-left: 140px;
}
.plans-subtitle{
    color: rgb(21, 20, 20);
    font-size: 20px;
    font-weight: 700;

}

/* Call Section Style  */

.call-img{
    width: 1255px;
    
    

}
.call-sec-title{
    font-size: 40px;
font-weight: 700;
color: rgb(241, 91, 34);
}
 .call-main{
    width: 50%;
 }
 .call-sub{
    width: 50%;
    display: block;
    justify-content: center;
 }

 /* Footer Section Style  */
 footer{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 1255px;
    height: 577px;
    background-color: black;
    margin-top: 40px;
    border-radius: 5px;
 }

 .footer-left{
    width: 50%;
    margin-left: 100px;
 }
 .footer-right{
    width: 50%;
 }
 .footer-title{
    color: rgb(248, 248, 248);
    font-size: 45px;
 }
 .footer-subtitle{
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-right: 20px;
 }
 .social-icon{
    display: flex;
    gap: 15px;
 }
 .footer-subs{
    color: rgb(255, 255, 255);

font-size: 25px;
 }
 .footer-inp{
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    width: 295px;
    height: 51px;
}